ion-back-button {
    background: transparent;
}

.login-background {
    height: 82vh;
    //  background-position: 0 -14em;
    .header-form {
        position: relative;
        &::after {
            clear: both;
        }
    }
}

.register-form {
    position: absolute;
    top: 9em;
    width: 100%;
    z-index: 300;
    h4 {
        color: white;
    }
}