<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <!--<ion-icon name="arrow-back"></ion-icon>-->
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>    <ion-title>{{'SPECIES'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item *ngIf="parentItem" (click)="goParentBack()">
    <ion-icon name="arrow-back"></ion-icon>
    <ion-card-title>Especie padre: {{parentItem.name}} </ion-card-title>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let obj of data" (click)="viewSubChild(obj)">
      <ion-img [src]="obj.photo_url || obj.image_url" src-default src-fallback="assets/img/default.png"></ion-img>
      <ion-card-title>{{obj.name}}</ion-card-title>
      <ion-button (click)="select($event, obj)">{{'ADD'|translate}}</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
