// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//
// Custom naturappApp
//
@import "theme/setup";
@import "theme/mixins/rem";
@import "theme/utils";



@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body{
    font-family: 'Open Sans', sans-serif;
}

.swiper-pagination{
  z-index: 1000 !important;
}

.sc-ion-card-ios-h{
    margin: 0;
    box-shadow: none;
    border-radius: 0px;
}

.segment-button-checked{
  background-color: #fff !important;
  border-bottom: solid 2px #73e700 !important;
}

.segment-button-layout-icon-top{
  border: none;
}
